## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [56]:
np.random.seed(1)
country =['Taiwan','Japan','Chinese','French','America']
people=np.random.randint(100000000,size=5)
label = ['國家','人口']
liscol =[country ,people]
data = list(zip(label,liscol))
#data = {'國家': ,
 #       '人口': }
    
data = pd.DataFrame(dict(data))
print('由此得知type=:{}'.format(type(data)))

由此得知type=:<class 'pandas.core.frame.DataFrame'>

In [58]:
print('此function 可以sort by column')
data.sort_values(by=['人口'])

此function 可以sort by column

         人口       國家
2    491263  Chinese
1   6762380    Japan
3  13419401   French
0  46265381   Taiwan
4  90548939  America

In [59]:
print('其中有一個Arg : ascending=False  為 由大到小排序')
data.sort_values(by=['人口'] ,ascending=False)

其中有一個Arg : ascending=False  為 由大到小排序

         人口       國家
4  90548939  America
0  46265381   Taiwan
3  13419401   French
1   6762380    Japan
2    491263  Chinese

In [60]:
print('由大到小排序,取head =1  第一行來顯示')
data.sort_values(by=['人口'] ,ascending=False).head(1)

由大到小排序,取head =1  第一行來顯示

         人口       國家
4  90548939  America